{% extends 'index.html' %}
{% block content %}


		<!-- Wrapper -->
			<div id="wrapper">

              <section class="main items">
                {% for x in api.articles %}
						<article class="item">
							<header>
								<a href="#"><img src="{{x.urlToImage}}" alt="{{x.source.name}}" /></a>
								<h3>{{x.title}}</h3>
							</header>
							<p>{{x.description|truncatechars:150}}</p>
							<ul class="actions">
								<li><a href="{{x.url}}" target="_blank" class="button">Read More</a></li>
							</ul>
						</article>
                {% endfor %}
					</section>
			</div>
{% endblock %}